<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <link href="/static?file=main.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="header">
        <h1>Hello {{ username }}</h1>
    </div>

    <div class="contents">
        <a class="pure-button button-sign" href="/user/register/view">注册</a>
        <a class="pure-button button-sign" href="/user/login/view">登录</a>
        <a class="pure-button button-sign" href="/weibo/index">微博</a>
    </div>
</div>
</body>
</html>